* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.A1 {
  font-size: 20px;
  margin: 10px;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cont div {
  margin: 10px;
}

.cont {
  position: relative;
  left: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 300px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="number"] {
  padding: 5px;
  width: 60px;
  margin-left: 10px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}