* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

div {
  flex-grow: 1;  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: all 0.5s ease; 
}