* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont {
  width: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
}

.item {
  display: inline-block;
  background-size: 250px;
  position: relative;
  width: 100px;
  height: 100px;
  transition: 0.5s;
  transform: rotate(45deg);
  animation-direction: alternate;
}

.item1 {
  background-color: red;
  top: 0px;
  left: 0px;
  animation: play1 1.5s infinite linear;
}

.item2 {
  background-color: gold;
  top: 75px;
  left: -30px;
  animation: play2 1.5s infinite linear;
}

.item3 {
  background-color: blue;
  top: 148px;
  left: -210px;
  animation: play3 1.5s infinite linear;
}

.item4 {
  background-color: green;
  top: -30px;
  left: -75px;
  animation: play4 1.5s infinite linear;
}

@keyframes play {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    
    
  }
}

@keyframes play1 {
  from {
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
  }

  15% {
    transform: rotate(45deg);
  }

  50% {
  
    top: -100px;
    left: 0px;
  }

  85% {
    transform: rotate(135deg);
  }

  to {
    transform: rotate(135deg);
    top: 0px;
    left: 0px;
  }
}

@keyframes play2 {
  from {
    transform: rotate(45deg);
    top: 75px;
    left: -30px;
  }

  15% {
    transform: rotate(45deg);
  }

  50% {
  
    top: 75px;
    left: 70px;
  }

  85% {
    transform: rotate(135deg);
  }

  to {
    transform: rotate(135deg);
    top: 75px;
    left: -30px;
  }
}

@keyframes play3 {
  from {
    transform: rotate(45deg);
    top: 148px;
    left: -210px;
  }

  15% {
    transform: rotate(45deg);
  }

  50% {
  
    top: 248px;
    left: -210px;
  }

  85% {
    transform: rotate(135deg);
  }

  to {
    transform: rotate(135deg);
    top: 148px;
    left: -210px;
  }
}

@keyframes play4 {
  from {
    transform: rotate(45deg);
    top: -30px;
    left: -75px;
  }

  15% {
    transform: rotate(45deg);
  }

  50% {
  
    top: -30px;
    left: -175px;
  }

  85% {
    transform: rotate(135deg);
  }

  to {
    transform: rotate(135deg);
    top: -30px;
    left: -75px;
  }
}